$light: #FFF;
$dark: #313131;
$darker: #1F1F1F;
$orange: #F54932;
$blue: #3057A2;
$animate: .4s ease;

@mixin h2-title{
    font-family: 'Merriweather';
    text-transform: uppercase;
    font-size: 54px;
    color: $dark;
    font-weight: 400;
}
@mixin h3-style{
    font-family: 'Merriweather';
    font-size: 36px;
    font-weight: 400;
    text-transform: uppercase;
    &_topic{
        color: $orange;
    }
}
@mixin slider-button{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    transition: $animate;
    background: $dark url('../images/svg/arrow.svg') 13px 12px no-repeat;
    &:hover{
        cursor: pointer;
        background-color: #FBCE51;
    }
}